{% extends 'frontend/base.html' %}

{% block title %}Accueil - SGQ Ligne G{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-4">SGQ Ligne G - Système de Gestion de Production</h1>
                
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Production</h5>
                                <p class="card-text">Accéder à l'interface de production</p>
                                <a href="/production/" class="btn btn-primary">Accéder</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Management</h5>
                                <p class="card-text">Supervision et rapports de production</p>
                                <a href="/management/" class="btn btn-success">Accéder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}