{% load static %}
<!-- Sticky Bottom Bar pour Management -->
<div class="sticky-bottom-bar-management">
    <div class="container-fluid">
        <div class="row align-items-center h-100">
            <!-- Logo uniquement -->
            <div class="col">
                <div class="d-flex align-items-center">
                    <img src="{% static 'frontend/img/logo-white-text.svg' %}" alt="Logo SGQ" style="height: 40px;">
                </div>
            </div>
        </div>
    </div>
</div>