<!-- Composant Rouleau -->
<div class="rouleau-container" x-data="rouleau()" x-init="init()">
    <!-- Grille du rouleau -->
    <div class="rouleau-grid">
        <!-- Sélecteur de défauts (position fixed pour ne pas déformer) -->
        <select x-show="showDefautSelector" 
                x-model="selectedDefautType"
                @change="addDefaut()"
                @blur="showDefautSelector = false"
                class="defaut-selector position-fixed form-select form-select-sm"
                :style="`top: ${selectorPosition.top}px; left: ${selectorPosition.left}px;`"
                :size="defautTypes.length">
            <template x-for="defaut in defautTypes" :key="defaut.id">
                <option :value="defaut.id" x-text="defaut.name"></option>
            </template>
        </select>
        <table class="rouleau-table">
            <!-- Corps du tableau -->
            <tbody>
                <template x-for="row in nbRows" :key="row">
                    <tr :class="{'has-defaut': hasDefautInRow(row)}">
                        <!-- Boucle pour les colonnes -->
                        <template x-for="(col, index) in getColumns()" :key="col">
                            <!-- Cellule selon le type -->
                            <td :class="col === 'metrage' ? 'col-metrage' : 'col-defaut ' + (isEpaisseurRow(row) ? 'col-epaisseur' : '') + (hasDefaut(row, col) ? ' defaut' : '')">
                                <!-- Contenu pour colonne métrage -->
                                <template x-if="col === 'metrage'">
                                    <span class="metrage-label" x-text="row"></span>
                                </template>
                                
                                <!-- Contenu pour colonnes défaut/épaisseur -->
                                <template x-if="col !== 'metrage'">
                                    <div>
                                        <div x-show="isEpaisseurRow(row)" class="cellule-epaisseur">
                                            <div x-show="hasEpaisseurNok(row, col)" 
                                                 class="epaisseur-nok-indicator" 
                                                 @click.stop="removeEpaisseurNok(row, col)">
                                                <span x-text="getEpaisseurNok(row, col)"></span>
                                            </div>
                                            <input type="text" 
                                                   class="epaisseur-input" 
                                                   :class="{'has-value': hasEpaisseurOk(row, col), 'has-nok': hasEpaisseurNokInInput(row, col)}"
                                                   :data-row="row" 
                                                   :data-col="col"
                                                   maxlength="5"
                                                   placeholder="--"
                                                   @click="$event.target.select()"
                                                   @focus="$event.target.select()">
                                        </div>
                                        <div x-show="hasDefaut(row, col)" 
                                             class="defaut-indicator" 
                                             @click.stop="removeDefaut(row, col)">
                                            <span x-text="getDefautCode(row, col)"></span>
                                        </div>
                                        <button x-show="!hasDefaut(row, col)" 
                                                class="add-defaut-btn" 
                                                :class="{'active': showDefautSelector && currentCell && currentCell.row === row && currentCell.col === col}"
                                                @click.stop="openDefautSelector($event, row, col)">+</button>
                                    </div>
                                </template>
                            </td>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>